*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
/***box-one*/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    /**nav bar every element comes in center**/
    justify-content: space-evenly;/**content evenly spread**/
}
.nav-logo{
    height:50px;
    /**div will only become visible when we give it some height**/
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");/**to insert image**/
    background-size: cover;
    height: 50px;
    width:100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/**box two**/
.nav-address>p{
    color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
}
.add-icon>p{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;/**display on same line just display flex**/
    align-items: center;/**every item comes in center**/
    }
/**box-3**/
.nav-search{
    display: flex;
    width:620px;
    height:40px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius:3px;
    border-bottom-left-radius: 3px;
    border:none;/**select by default border will gone**/
}
.search-input{
    width:100%;/**flex remaining area will be occupied by it**/
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius:3px;
    border-bottom-right-radius: 3px;
    color:#0f1111;
}
/**box-4, box-5**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box-6**/
.nav-cart i{
font-size: 30px;
}
.nav-car{
    font-size: 0.56rem;
    font-weight: 700;
}
/**panel**/
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    /**main container flex means everything in a row**/
    color:white;
    align-items: center;
    justify-content: space-evenly;

}
.panel-all{
    margin-left: 0;
}
.panel-option p{
    display: inline;
    margin-left: 15px;
    color:white;
}
.panel-option{
    display: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero section**/
.hero-section{
    background-image: url("./hero_image.jpg");
    height:380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /**aling item to flex end because everything will display at end and in center**/
}
.hero-message{

color: black;
height: 40px;
width:80%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
margin-bottom: 25px;
}
.hero-message a{
    color:#007185;
}

/**Shop section**/
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;/**when we need even space in between our content**/
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width:23%;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
}

.box-img{
    height:300px;
    width: 300px;
    background-image: cover;
    margin-top: 1rem;
    margin-bottom:1rem;
    size: 1rem;
} 
.box-content{
    margin-left:0.85rem;
    margin-right:0.85rem;
}
.box-content p{
    color:#007185;
}
/**footer**/
footer{
    margin-top:15px;
}
.foot-panel{
    background-color: #37475a;
    color:white;
    height:50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
   
}
.foot-panel-two{
    background-color: #222f3d;
    color:white;
    height:600px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}
.foot-panel3{
    background-color:  #222f3d;
    border-top: 0.5px solid white;
    height:50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo3{
   background-image: url("amazon_logo.png");
    /**to insert image**/
    background-size: cover;
    height: 50px;
    width:100px;
}
.foot-panel4{
    background-color:#0f1111 ;
    color:white;
    height:100px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-align: center;
    justify-content: space-evenly;
}
.pages{
       padding:25px;
}
.copyright{
   
    text-align: center;
}